.formContainer {
  width: 100%;
  .productFieldTitle {
    display: inline-block;
    min-width: 90px;
    margin: 0 8px;
  }
  .productTitle {
    font-size: var(--mediumFz);
  }
  .productInfo {
    font-size: var(--normalFz);
    .productField {
      margin: 8px 4px;
      display: flex;
      > input {
        display: flex;
        align-items: center;
        height: 30px;
        width: 100%;
        background-color: #faf2f2;
        border: 1px solid #f7c4b3;
        border-radius: 5px;
        padding: 5px 12px;

        &:focus {
          background-color: #ffffff;
          border-color: #ffcc00;
          outline: none;
        }
      }

      .thumbnailWrapper {
        padding: 4px;
        border: 2cqw solid rgb(218, 215, 215);
        border-radius: 12px;
        flex: 0 0 auto;
        width: 200px;
        height: 200px;
        box-sizing: border-box;
        .thumbnailPreview {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 8px;
        }
      }
    }
    .productSize {
      display: flex;
    }
  }
  .submitCreateProduct {
    text-align: center;
  }
}
