.addProductContainer {
  .title {
    margin: 12px 0px;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    color: var(--primaryColor);
  }

  .formProduct {
    display: flex;
    justify-content: center;
    margin: 4px 24px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
  }
}
